Repository Antonyan7/pollin-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

FIX: Add linter cache into gitignore
  .gitignore
Due: none

FEAT: Theme and styles integration
  .eslintrc.js
  package.json
  pages/_app.tsx
  pages/index.tsx
  src/assets/scss/_theme1.module.scss
  src/assets/scss/_themes-vars.module.scss
  src/assets/scss/style.scss
  src/config.ts
  src/hooks/useLocalStorage.ts
  src/pages/_app.tsx
  src/pages/dashboard.tsx
  src/pages/index.tsx
  src/themes/compStyleOverride.tsx
  src/themes/index.tsx
  src/themes/palette.tsx
  src/themes/shadows.tsx
  src/themes/typography.tsx
  src/types/config.ts
  src/types/default-theme.ts
  src/types/index.ts
  src/types/overrides/createPalette.d.ts
  src/types/overrides/createTheme.d.ts
  src/types/overrides/createTypography.d.ts
  styles/Home.module.css
  styles/globals.css
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

FEAT: Redux with Thunk setup
  .eslintrc.js
  package.json
  src/manager/axiosInstance.ts
  src/pages/_app.tsx
  src/pages/dashboard.tsx
  src/redux/features/user/userSlice.ts
  src/redux/hooks.ts
  src/redux/store.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

FEAT: Update readme.md
  README.md
Due: prettier --write

FEAT: CI Setup
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/ci-validation/action.yml
  .github/actions/deploy-gae/action.yml
  .github/dependabot.yml
  .github/workflows/ci_validation.yml
  .github/workflows/deploy_to_gae.yml
Due: prettier --write

FEAT: Calendar With Custom slots
  next.config.js
  package.json
  src/assets/images/calendar/slots/blockedSlot.svg
  src/assets/scss/calendar/background-blocked.css
  src/assets/scss/style.scss
  src/pages/_app.tsx
  src/pages/index.tsx
  src/types/calendar.ts
  src/ui-component/calendar/CalendarStyled.tsx
  src/ui-component/calendar/Slot.ts
  src/ui-component/calendar/ToolBar.tsx
  src/ui-component/calendar/index.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

FIX: Support of withTM feature
  next.config.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

PCP-126: Develop UI for global header and side menu
  .gitignore
  .nyc_output/1687a1c1-5beb-4402-a45c-f2129eca9fe5.json
  .nyc_output/1cdc4fd8-534f-4727-bfae-ced3ec7c8427.json
  .nyc_output/55a04ff7-def9-48df-ba67-582521158c45.json
  .nyc_output/82aef274-71b2-4081-83c9-aa175bea5951.json
  .nyc_output/aef9805c-d1e0-484f-81c2-941c4f7cd53c.json
  .nyc_output/cc8fe212-bb8d-4eee-af65-03298ef3e054.json
  .nyc_output/eb40000b-bb46-44f7-b092-02faf2d599b4.json
  .nyc_output/processinfo/1687a1c1-5beb-4402-a45c-f2129eca9fe5.json
  .nyc_output/processinfo/1cdc4fd8-534f-4727-bfae-ced3ec7c8427.json
  .nyc_output/processinfo/55a04ff7-def9-48df-ba67-582521158c45.json
  .nyc_output/processinfo/82aef274-71b2-4081-83c9-aa175bea5951.json
  .nyc_output/processinfo/aef9805c-d1e0-484f-81c2-941c4f7cd53c.json
  .nyc_output/processinfo/cc8fe212-bb8d-4eee-af65-03298ef3e054.json
  .nyc_output/processinfo/eb40000b-bb46-44f7-b092-02faf2d599b4.json
  .nyc_output/processinfo/index.json
Due: prettier --write

fixed comments
  .eslintrc.js
  src/components/Link/Link.tsx
  src/components/Logo/Logo.tsx
  src/components/Transition/Transitions.tsx
  src/components/index.ts
  src/layout/MainLayout/Header/CheckSection/index.tsx
  src/layout/MainLayout/Header/NotificationSection/index.tsx
  src/layout/MainLayout/Header/ProfileSection/index.tsx
  src/layout/MainLayout/Header/SearchSection/index.tsx
  src/layout/MainLayout/Header/index.tsx
  src/layout/MainLayout/LogoSection/index.tsx
  src/layout/MainLayout/Sidebar/MenuList/NavCollapse/index.tsx
  src/layout/MainLayout/Sidebar/MenuList/NavGroup/index.tsx
  src/layout/MainLayout/Sidebar/MenuList/NavItem/index.tsx
  src/layout/MainLayout/Sidebar/MenuList/index.tsx
  src/layout/MainLayout/Sidebar/index.tsx
  src/layout/NavMotion.tsx
  src/themes/typography.tsx
  src/types/index.ts
Due: eslint --cache --fix, prettier --write

FIX: remove dark theme support
  src/themes/typography.tsx
  src/ui-component/calendar/CalendarStyled.tsx
Due: eslint --cache --fix, prettier --write

fixed comments
  .eslintrc.js
  package.json
  src/components/Link/Link.tsx
  src/components/NextLinkComposed/NextLinkComposed.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

Fixed cycle issue
  .eslintrc.js
  src/components/Link/Link.tsx
  src/layout/MainLayout/Sidebar/MenuList/NavCollapse/index.tsx
  src/layout/MainLayout/Sidebar/MenuList/NavGroup/index.tsx
  src/types/index.ts
Due: eslint --cache --fix, prettier --write

FIX: style issues
  src/assets/scss/calendar/background-blocked.css
  src/assets/scss/calendar/background-blocked.scss
  src/assets/scss/style.scss
Due: prettier --write

fixed any types
  src/components/Link/Link.tsx
  src/components/NextLinkComposed/NextLinkComposed.tsx
Due: eslint --cache --fix, prettier --write

FIX: Update project id
  .github/workflows/ci_validation.yml
  .github/workflows/deploy_to_gae.yml
Due: none

FIX: Update node version for ci
  .github/workflows/deploy_to_gae.yml
Due: none

Update node version for ci
  .github/actions/ci-validation/action.yml
  .github/actions/deploy-gae/action.yml
  .github/workflows/ci_validation.yml
Due: none

resolve conflicts
  next.config.js
  package.json
  src/assets/images/calendar/slots/blockedSlot.svg
  src/assets/scss/calendar/background-blocked.css
  src/assets/scss/style.scss
  src/pages/_app.tsx
  src/pages/index.tsx
  src/types/calendar.ts
  src/ui-component/calendar/CalendarStyled.tsx
  src/ui-component/calendar/Slot.ts
  src/ui-component/calendar/ToolBar.tsx
  src/ui-component/calendar/index.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

FIX: codeowner name
  .github/CODEOWNERS
Due: none

FIX: Project id
  .github/actions/deploy-gae/action.yml
Due: none

fixed comments
  src/assets/scss/calendar/background-blocked.css
  src/components/Transition/Transitions.tsx
  src/layout/MainLayout/Header/CheckSection/index.tsx
  src/layout/MainLayout/Header/NotificationSection/index.tsx
  src/layout/MainLayout/Header/ProfileSection/index.tsx
  src/layout/MainLayout/Header/SearchSection/index.tsx
  src/layout/MainLayout/Header/index.tsx
  src/layout/MainLayout/Sidebar/MenuList/NavCollapse/index.tsx
  src/layout/MainLayout/Sidebar/MenuList/NavItem/index.tsx
  src/layout/MainLayout/Sidebar/index.tsx
  src/layout/MainLayout/index.tsx
  src/themes/themeConstants.ts
  src/themes/typography.tsx
  src/types/index.ts
Due: eslint --cache --fix, prettier --write

fixed pipeline error
  src/layout/MainLayout/Sidebar/MenuList/NavItem/index.tsx
Due: eslint --cache --fix, prettier --write

PIW-123: Feature/cypress setup (#2)
  .github/actions/ci-validation/action.yml
  .gitignore
  cypress.config.ts
  cypress/e2e/home/home.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package.json
  src/assets/scss/style.scss
  src/pages/index.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

FIX: Deployment script (#15)
  .github/actions/deploy-gae/action.yml
Due: none

FIX: Remove installation of cypress tools (#16)
  .github/actions/deploy-gae/action.yml
Due: none

[PCP-128, PCP-129, PCP-130]: Appointments -add -edit -info (#13)
  package.json
  src/assets/scss/_themes-vars.module.scss
  src/components/Appointments/AddAppointmentsModal.tsx
  src/components/Appointments/AppointmentsContent.tsx
  src/components/Appointments/AppointmentsHeader.tsx
  src/components/Appointments/CommonMaterialComponents.ts
  src/components/Appointments/EditAppointmentsModal.tsx
  src/components/Appointments/InfoAppointmentsModal.tsx
  src/components/Scroll/NavigationScroll.tsx
  src/components/Transition/Transitions.tsx
  src/layout/MainLayout/Header/CheckSection/index.tsx
  src/layout/MainLayout/Header/NotificationSection/index.tsx
  src/layout/MainLayout/Header/ProfileSection/index.tsx
  src/layout/MainLayout/Header/SearchSection/index.tsx
  src/layout/MainLayout/Header/index.tsx
  src/layout/MainLayout/LogoSection/index.tsx
  src/layout/MainLayout/Sidebar/MenuList/NavItem/index.tsx
  src/layout/MainLayout/index.tsx
  src/layout/NavigationScroll.tsx
  src/menu-items/NavHeading1.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/nav1/appointments.tsx
  src/themes/themeConstants.ts
  src/types/index.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

[PCP-122] Updated Build Folder as per new next standards (#18)
  next.config.js
Due: eslint --cache --fix, prettier --write

FIX: Add app yaml for deployment support (#19)
  app.yaml
Due: none

PCP-204 feat: Developed Notify Alert Box. (#14)
  src/components/Alert/Alert.tsx
Due: eslint --cache --fix, prettier --write

FIX: build cleanup (#20)
  next.config.js
  package.json
Due: eslint --cache --fix, prettier --write

FIX: Update node version (#21)
  app.yaml
Due: none

Update README.md (#25)
  README.md
Due: prettier --write

PCP-194: scheduling template create (#29)
  src/assets/scss/_themes-vars.module.scss
  src/components/Scheduling/createSchedulingStyled.tsx
  src/components/Scheduling/createTemplate.tsx
  src/helpers/berryFunctions.ts
  src/helpers/constants.ts
  src/pages/scheduling/create-template.tsx
  src/themes/palette.tsx
  src/types/create-schedule.ts
Due: eslint --cache --fix, prettier --write

PCP-233 dependencies (#34)
  .eslintrc.js
  package.json
Due: eslint --cache --fix, prettier --write

[PCP-197]: duplicate template (#36)
  package.json
  src/components/Scheduling/createSchedulingStyled.tsx
  src/components/Scheduling/createTemplate.tsx
  src/types/create-schedule.ts
  src/ui-component/common/buttons.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

PCP-200 Implemented UI for Apply Schedule page (#28)
  src/assets/scss/_theme1.module.scss
  src/assets/scss/_themes-vars.module.scss
  src/components/Scheduling/ApplyScheduleForm.tsx
  src/components/Scheduling/ApplyScheduleHeader.tsx
  src/helpers/constants.ts
  src/menu-items/NavHeading2.tsx
  src/pages/scheduling/apply-schedule.tsx
  src/themes/palette.tsx
Due: eslint --cache --fix, prettier --write

PCP-184: Implement Functionality For Creating New Appointment (#24)
  package.json
  src/components/Appointments/AddAppointmentsModal.tsx
  src/components/Appointments/AppointmentsContent.tsx
  src/components/Appointments/AppointmentsHeader.tsx
  src/components/Appointments/CommonMaterialComponents.ts
  src/components/Appointments/DetailsAppointmentModal.tsx
  src/components/Appointments/EditAppointmentsModal.tsx
  src/components/Appointments/InfoAppointmentsModal.tsx
  src/components/index.ts
  src/constants/index.ts
  src/layout/MainLayout/Header/CheckSection/index.tsx
  src/layout/MainLayout/Header/NotificationSection/index.tsx
  src/layout/MainLayout/Header/ProfileSection/index.tsx
  src/layout/MainLayout/Header/SearchSection/index.tsx
  src/layout/MainLayout/Header/index.tsx
  src/layout/MainLayout/LogoSection/index.tsx
  src/layout/MainLayout/Sidebar/MenuList/NavItem/index.tsx
  src/layout/MainLayout/index.tsx
  src/layout/NavigationScroll.tsx
  src/pages/_app.tsx
  src/pages/nav1/appointments.tsx
  src/redux/reducer.ts
  src/redux/slices/appointments.ts
  src/redux/store.ts
  src/redux/utils/appointments.ts
  src/themes/palette.tsx
  src/types/appointments.ts
  src/types/index.ts
  src/types/reduxTypes/appointments.ts
  src/ui-component/calendar/Slot.ts
  src/ui-component/calendar/index.tsx
  src/utils/generateErrorMessage.ts
  src/utils/getCurrentBaseUrl.ts
  src/utils/redirectTo.ts
  src/validation/appointments/add_appointment.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

[PCP-178] FEAT: Match the UI of the calendar to design (#41)
  src/assets/images/calendar/icons/CalendarIcon.tsx
  src/assets/scss/calendar/background-blocked.scss
  src/helpers/constants.ts
  src/pages/nav1/appointments.tsx
  src/themes/typography.tsx
  src/ui-component/calendar/CalendarStyled.tsx
  src/ui-component/calendar/index.tsx
Due: eslint --cache --fix, prettier --write

[PCP-259] FEAT: Add config for enabling reverse proxy (#39)
  next.config.js
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md,scss,json}
